<div class="row h-100 align-items-center justify-content-center">
  <div class="col-md-4">
      <ng-flash-message></ng-flash-message>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="loginForm">
          <div class="form-group row">
            <div class="input-group col-sm-12">
              <i class="fa fa-envelope input-icon text-muted"></i>
              <input required type="text" placeholder="Email" formControlName="email" class="form-control input-icon-field" id="staticEmail" />
            </div>
          </div>
          <div class="form-group row">
            <div class="input-group col-sm-12">
                  <i class="fa fa-lock input-icon text-muted"></i>
              <input type="password" placeholder="Password" class="form-control input-icon-field" formControlName="password" />
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <div class="col-md-6 justify-content-center text-center">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" />
              <span>Remember Me</span>
            </div>
          </div>
          <div class="row justify-content-center">
            <button type="submit" class="btn btn-success col-md-3" (click)="login()">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
