<div class="row h-100 align-items-center justify-content-center">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="loginForm">
          <div class="form-group row">
            <div class="input-group col-sm-12">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <input type="text" placeholder=" Email" formControlName="email" class="form-control" id="staticEmail" />
            </div>
          </div>
          <div class="form-group row">
            <div class="input-group col-sm-12">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-lock"></i>
                    </span>
                  </div>
              <input type="password" placeholder="Password" class="form-control" formControlName="password" />
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <div class="col-md-6 justify-content-center text-center">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" />
              <span>Remember Me</span>
            </div>
          </div>
          <div class="row justify-content-center">
            <button type="submit" class="btn btn-success col-md-3" (click)="login()">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
