/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import '~ngx-toastr/toastr-bs4-alert';


html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1,h2,h3,h4,h5,h6,p{
    font-size: 85%;
    color: #6c757d !important;
}

.form-control:focus {
    border-color: #70a3cc;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 174, 233, 0.151);
}

.navbar{
    padding: 0 .5rem;
    background: #5b9bd1;
}

.input-icon{
    position: absolute;
    top: 30%;
    left: 6.2%;
    z-index: 9999;
    padding: 0;
}

.input-icon-field{
    position: relative;
    padding-left: 2em !important;
    border-radius: .25em !important;
}

.drop-shadow{
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

a{
    cursor: pointer;
}

button, .btn{
    transition: transform 80ms ease-in;
}
button:active {
    transform: scale(0.95);
}

.btn:active {
    transform: scale(0.95);
}

//css for component tags
app-root{
    height: 100%;
}

app-login{
    flex-grow: 1;
}