<div class="row justify-content-center mt-4">
  <div class="col-md-3">
    <div class="card side-card justify-content-center">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <img class="card-img-top" style="width:auto; height:50%; border-radius: 50%" [src]="profile?.profile_picture" alt="Card image cap" />
        </div>
        <div class="row justify-content-center my-3">
          <h2 class="card-title text-muted">Sujeet Kc</h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-3">
            <a href="#" class="btn  rounded"><i class="fas fa-phone"></i></a>
          </div>
          <div class="col-md-3">
            <a href="#" class="btn  rounded"><i class="far fa-envelope"></i></a>
          </div>
          <div class="col-md-3">
              <a [routerLink]="['/profile/edit']" routerLinkActive="router-link-active"  class="btn  rounded"><i class="fas fa-pencil-alt"></i></a>
            </div>
        </div>
      </div>
    </div>
    <div class="card side-card mt-4">
      <div class="container-fluid">
        <div class="row mb-3">
          <div class="col-md-2 offset-md-1 justify-content-center">
            <i class="fas fa-1x fa-mobile-alt text-muted"></i>
          </div>
          <div class="col-md-9">
            <h4 class="text-muted">{{ profile?.phone_number }}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 offset-md-1 justify-content-center">
            <i class="fas fa-1x fa-map-marker-alt text-muted"></i>
          </div>
          <div class="col-md-9">
            <h4 class="text-muted">{{profile?.address}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5 justify-content-center mx-3">
    <router-outlet></router-outlet>
  </div>

  <div class="col-md-3">
    <div class="card side-card px-3">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <h2 class="text-muted mr-2">Notifications</h2>
          <i class="far fa-bell text-muted"></i>
        </div>
        <div class="row"></div>
      </div>
    </div>
  </div>
</div>
