<form class="form" (ngSubmit)="onUserSubmit()">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="text" name="name" placeholder="Name" [(ngModel)]="name" />
    </p>
  </div>
  <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="text" name="username" placeholder="Username" [(ngModel)]="username" />
      </p>
    </div>

  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input
        type="email"
        name="email"
        class="input"
        placeholder="Email"
        [(ngModel)]="email"
      />
    </p>
  </div>

  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input
        type="password"
        name="password"
        class="input"
        placeholder="Password"
        [(ngModel)]="password"
      />
    </p>
  </div>

  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input
        type="password"
        name="password_confirmation"
        class="input"
        placeholder="Confirm Password"
        [(ngModel)]="password_confirmation"
      />
    </p>
  </div>
  <div class="field">
    <p class="control">
      <input type="submit" value="submit" class="button is-success" />
    </p>
  </div>
</form>
