<div class="row h-100 align-items-center justify-content-center">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="signupForm">
          <div class="form-group row">
            <div class="input-group col-sm-12">
                      <i class="fa fa-envelope text-muted input-icon"></i>
              <input type="email" placeholder="Email" formControlName="email" class="form-control input-icon-field" id="email" />
            </div>
          </div>
          <div class="form-group row">
            <div class="input-group col-sm-12">
                      <i class="fa fa-lock text-muted input-icon"></i>
              <input type="password" placeholder="Password" class="form-control input-icon-field" formControlName="password" />
            </div>
          </div>

          <div class="form-group row">
            <div class="input-group col-sm-12">
                      <i class="fa fa-lock text-muted input-icon"></i>
              <input type="password" placeholder="Password Confirmation" class="form-control input-icon-field" formControlName="password_confirmation" />
            </div>
          </div>

          <div class="row justify-content-center">
            <button type="submit" class="btn btn-success col-md-3" (click)="signup()">
              Signup
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
