<li class="item">
  <div class="columns">
    <div class="column is-2 has-text-centered is-vcentered">
      <input type="checkbox" (change)="onToggle(todo)" class="inline-block" />
    </div>
    <div
      [ngClass]="{ 'is-complete': todo.completed }"
      class="is-vcentered column is-7"
    >
      <p>Title: {{ todo.title }}</p>
      <p>Description: {{ todo.description }}</p>
    </div>
    <div class="column has-text-centered is-3 is-vcentered">
      <a class="delete is-medium" (click)="onDelete(todo)"></a>
      <a class="button is-primary is-rounded is-small" (click)="toggleForm()"
        >Edit</a
      >
    </div>
  </div>
</li>

<li *ngIf="showEditForm" class="item">
  <div class="columns">
    <div class="column is-2 has-text-centered is-vcentered"></div>
    <div class="is-vcentered column is-7">
      <form [formGroup]="editForm">
        <input id="title" class="input my-2" formControlName="title" />
        <show-errors [formSubmitted]="true" [control]="editForm.controls.title"></show-errors>
        <input class="input my" formControlName="description" />
        <a
          class="button my-2 is-small is-rounded is-danger"
          (click)="toggleForm()"
          >Cancel</a
        >
        <a
          class="button my-2 is-small is-rounded is-success"
          (click)="onUpdate(todo)"
          >Save</a
        >
      </form>
    </div>
  </div>
</li>
